@import "themes/product_ember/variables";
$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "themes/product_ember/bootswatch";

/* Put your CSS here */
html, body {
  margin: 30px 0;
}

.panel-primary > .panel-body {
  background-color: white;
}

.panel > .panel-heading > a {
  color: white;
  float: right;
}

.toolbox {
  float: right;
  margin: 5px 5px 0 0;
}