<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Products list</div>
    <div class="panel-body">
      <div class="list-group">
      {{#each model}}
        {{#link-to 'product' this classNames="list-group-item"}}{{this.name}} ({{this.id}}){{/link-to}}
      {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="col-md-9">
{{outlet}}
</div>
